@import "../../styles/colors.scss";
@import "../../styles/animations.scss";

.surveyResultWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: $background;

  .contentWrap {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    max-width: 800px;
    flex-grow: 1;
    padding: 40px;

    &:empty {
      position: relative;
      background-repeat: no-repeat;
      background-image: linear-gradient(
          to right,
          $disabledBackground,
          $disabledBackground
        ),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground),
        linear-gradient(to right, $disabledBackground, $disabledBackground);
      background-position: 40px 40px, 136px 50px, 136px 80px, 136px 110px,
        40px 172px, 40px 270px, 40px 372px;
      background-size: 80px 100px, calc(100% - 176px) 20px,
        calc(90% - 176px) 20px, calc(80% - 176px) 20px, calc(100% - 82px) 40px,
        calc(100% - 82px) 40px, calc(100% - 82px) 40px;

      &::after {
        content: "";
        position: absolute;
        width: 60%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        background-image: linear-gradient(
          to right,
          transparent,
          rgba($white, 0.4),
          transparent
        );
        animation: shimmer 1.3s infinite;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .surveyResultWrap {
    .contentWrap {
      &:empty {
        background-position: 40px 40px, 116px 50px, 116px 80px, 116px 110px,
          40px 172px, 40px 270px, 40px 372px;
        background-size: 60px 100px, calc(100% - 176px) 20px,
          calc(90% - 176px) 20px, calc(80% - 176px) 20px, calc(100% - 82px) 40px,
          calc(100% - 82px) 40px, calc(100% - 82px) 40px;

        &::after {
          content: "";
          position: absolute;
          width: 40%;
          height: 100%;
          top: 0;
          left: 0;
          transform: translateX(-100%);
          background-image: linear-gradient(
            to right,
            transparent,
            rgba($white, 0.4),
            transparent
          );
          animation: shimmer 1.3s infinite;
        }
      }
    }
  }
}
